.side-bar
  .side-bar__username
    .top-items
      %p.top-items__name
        nara
      .top-items__icons
        .icons__btn--edit
        = link_to "#" do
          = icon('fas', 'edit')
        .icon__btn--setting
        = link_to "#" do
          = icon('fas', 'cog')


  .side-bar__group-list
    .side-bar__group-list--name
      techcamp
    .side-bar__group-list--message
      まだメッセージがありません