 .form {
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px;

    form {
      display: flex;
      .input-box {
        display: flex;
        position: relative;
        width: 100%;
        &__text {
          height: 50px;
          width: 100%;
          padding: 0 40px 0 10px;
        }
        &__image {
          position: absolute;
          font-size: 1.3rem;
          right: 150px;
          top: 10px;
        }
      
        &__file {
          display: none;
        }
      }
    }

  .submit-btn {
    width: 100px;
    height: 50px;
    color: $white_color;
    background-color: skyblue;
    margin-left: 15px;
    padding: 0 30px;
  }
}